/.venv
/.vscode
/nssm
/PostgreSQL
/python
/sessions
/thirdparty
/vcredist
/server/addons
/server/debian
/server/doc
/server/odoo
/server/setup
/server/*.*
/server/COPYRIGHT
/server/LICENSE
/server/odoo-bin
Uninstall.exe
